@inherits ErrorBoundary

@if (CurrentException is null)
{
    @ChildContent
}
else if (ErrorContent is not null)
{
    @ErrorContent(CurrentException)
}
else
{
    if (this.ShowErrorInDialog)
    {
        <SfDialog Visible="@this.Visible" IsModal="true" Width="50%" CssClass="error-dialog">
            <DialogTemplates>
                <Header>Error <span class="oi oi-warning warning-icon"/></Header>
                <Content>
                    @((MarkupString)this.ErrorMessage)
                </Content>
                <FooterTemplate>
                    <SfButton Content="Ok" OnClick="@this.HideDialog" CssClass="ok-button" />
                </FooterTemplate>
            </DialogTemplates>
        </SfDialog>
    }
    else
    {
        <div class="custom-error"><span class="oi oi-warning warning-icon"></span>&nbsp; @this.ErrorMessage</div>
    }
}

<style>
    .error-dialog {
        border: solid thin red;
    }

    .e-dialog .e-dlg-header {
        color: red;
        font-size: 1.5rem;
    }

    .ok-button {
        background-color: red;
    }

        .ok-button:hover {
            border-color: red;
            background-color: red;
            opacity: 50%;
        }
</style>
